@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --primary-color: #fff8bd;
    --primary-gradient: linear-gradient(180deg, #fff8bd 0%, #9adfc6 50%, #a4d9f2 100%);
    --patient-color: #75ABC2;
    --caregiver-color: #468448;
    --light-patient-color: #A4D9F2;
    --light-caregiver-color: #BDF3CF;
    --professional-color: #F1D262;
    --light-professional-color: #FFF8BD;
    --white: #fff;
    --secondary-white: #e9e9e9;
    --black: #000;
    --gray: #313131;
    --border-radius-round: 2.8rem; 
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
body, input, button, select{
    font-size: 1.6rem;
}

.professional {
    background: var(--professional-color);
}

.patient {
    background: var(--patient-color);
}
.caregiver{
    background: var(--caregiver-color);
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.header {
    padding: 3rem;
    color: var(--white);
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.header img {
    /*translate: 0 4rem;*/
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 9.5rem;
    display: flex;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;

}
form .input-list{
    width: 100%;
    gap: 1rem;
}

select {
    appearance: none;
}

label {
    font-size: 2rem;
    margin: 2%;
}

input, select{
    padding: 1.0rem;
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    border-radius: var(--border-radius-round);
    background: #e9e9e9;
    width: 100%;
    border: none;
}

.buttons{
    gap: 1rem;
    width: 100%;
}

.buttons .save{
    color: var(--white);
}

.buttons .back:hover{
    text-decoration: underline;
}

.caregiver-button:hover{
    background-color: var(--light-caregiver-color);
    color: var(--black);
}
.patient-button:hover{
    background-color: var(--light-patient-color);
    color: var(--black);
}

.professional-button:hover{
    background-color: var(--light-professional-color);
    color: var(--black);
}

.buttons .button{
    width: 100%;
    border: none;
    border-radius: var(--border-radius-round);
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back{
    background-color: transparent;
    text-decoration: none;
}


@media(min-width: 1440px){
    body{
        font-size: 1.6rem;
    }

}