body {
    font-family: 'Istok Web';
    border: none;
    margin: 0;
}

/* BARRA E TEXTOS*/
.caixaBranca {
    height: 100px;
    width: auto;
    background: #ffffff;
}

h1 {
    color: #000;
    font-family: Istok Web;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    height: 100px;
    padding-top: 30px;
}

h2 {
    color: #000;
    font-family: Istok Web;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

h3 {
    color: #000;
text-align: center;
font-family: Istok Web;
font-size: 20px;
font-weight: 700;
}

a {
    text-decoration: none;
    color: #000;
}

/* PROPRIEDADES DE CADA BARRA DO USUÁRIO*/
.caixaAzul {
    row-gap: 15px;
    column-gap: 200px;
    align-items: center;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    padding-top: 4%;
    background: #75ABC2;
}

.caixaVerde {
    row-gap: 15px;
    column-gap: 200px;
    align-items: center;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    padding-top: 4%;
    background: #468448;
}

.caixaAmarela {
    row-gap: 15px;
    column-gap: 200px;
    align-items: center;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background: #F1D262;
    padding-top: 4%;
}

/* BOTOES*/
.pacientes {
    background-color: #ffffff;
    border-radius: 28px;
    color: #000;
    font-family: 'Istok Web';
}

button{
    font-weight: bold;
    height: 35px;
    width: 230px;
    font-family: Istok Web;
    background-color: #ffffff;
    border-radius: 28px;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border: none;
}

.botoes{
    row-gap: 15px;
    align-items: center;
    display: flex;
    flex-flow: column;
}

